{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Missing Persons</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0.5px">
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="background-color: DarkSlateGray; width: 100%">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a
              class="nav-link"
              href="{% url 'index' %}"
              style="color: GhostWhite; font-weight: bold">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'data' %}"
              style="color: GhostWhite">
              Data
              </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              href="{% url 'Learn More' %}"
              style="color: GhostWhite">
              Learn More
              </a>
          </li>
        </ul>
      </div>
    </nav>

    <header style="background-image: url('{% static "missingpersonsapp/media/lightbulb.jpg"%}');" alt= "lightbulb"> 
          <div style="font-size: 80px; color: lightgray; font-weight: bold; height: 400px; text-align: center;" >Human Trafficking in Utah</div>
    </header>
    <div style=" margin: 15px; margin-left: 25px; font-size: 20px;">     
      <p> On this website you'll find information about human trafficking and how you can help stop it here in the state of Utah. Check out the Learn More page to see this information
        or go to the Data page to see a list of missing people we suspect are being trafficked.
      </p>
      <p style=" font-weight: bold;">
      Human Trafficking - a crime of exploitation of someone for the purposes
      of compelled labor or a commercial sex act.
      </p>
      <p>There are two types of Trafficking-</p>
    <ul>
      <li>
        Sex Trafficking: modern-day slavery where individuals perform
        commercial sex through the use of force, fraud, or coercion.
      </li>
      <li>
        Labor Trafficking: modern-day slavery where individuals perform labor
        or services through the use of force, fraud, or coercion.
      </li>
    </ul>
      <p>
        Human trafficking is a serious issue that exists throughout all of Utah as
        well as the rest of the nation. It is important to be informed about human
        trafficking so that you can help protect others as well as alert
        authorities in the case that you have any information that could save
        lives.
      </p>

      <p>
        Recent Utah trafficking cases included commercial sex, multi-state prostitution rings, debt bondage,
        illicit massage businesses, domestic servitude, labor trafficking within the agriculture and hospitality sectors,
        forced drug trafficking, and more.
      </p>

    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
