{% extends 'base.html' %} 
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
{% load static %}
    <header style="background-image: url('{% static "img/lightbulb.jpg"%}');" alt= "lightbulb"> 
      <div class=".sidepadding" style="font-size: 80px; color: lightgray; font-weight: bold; height: 400px; text-align: center;" >Human Trafficking in Utah</div>
    </header>
    <div style=" margin: 15px; margin-left: 25px; font-size: 20px;">     
      <p> On this website you'll find information about human trafficking and how you can help stop it here in the state of Utah. Check out the Learn More page to see this information
        or go to the Data page to see a list of missing people we suspect are being trafficked.
      </p>
      <p style=" font-weight: bold;">
      Human Trafficking - a crime of exploitation of someone for the purposes
      of compelled labor or a commercial sex act.
      </p>
      <p>There are two types of Trafficking-</p>
    <ul>
      <li>
        Sex Trafficking: modern-day slavery where individuals perform
        commercial sex through the use of force, fraud, or coercion.
      </li>
      <li>
        Labor Trafficking: modern-day slavery where individuals perform labor
        or services through the use of force, fraud, or coercion.
      </li>
    </ul>
      <p>
        Human trafficking is a serious issue that exists throughout all of Utah as
        well as the rest of the nation. It is important to be informed about human
        trafficking so that you can help protect others as well as alert
        authorities in the case that you have any information that could save
        lives.
      </p>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
{% endblock %}
